@import 'app/styles/charte'

.nav-item
  font-family: 'Roboto Slab', serif;
  color: white
  text-transform: uppercase
  font-size: .9rem
  font-weight:bold
  padding: 1rem

  @media screen and (min-width: $medium)
    padding: 0
    &:nth-child(n+2)
      margin-left: 1rem