@require 'app/styles/charte.styl'
*
  box-sizing: border-box
body {

}
#app
  width: 100%
  overflow-x: hidden
  @media screen and (min-width: $large)
    width: 950px
    margin: auto

.flex-container
  display: flex
  margin-top: 1rem
.flex-center
  justify-content: center
.app--realisation-open
  overflow: hidden
